@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
	--font-display: 'Inter', sans-serif;
	--font-body: 'Inter', sans-serif;
}

:root {
	font-family: var(--font-body);
}

body {
	background-color: #0f172a; /* slate-950 */
	color: #f8fafc; /* slate-50 */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
